


.emplist {
    background-color: rgba(0, 0, 0, 0.5);;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
  }
  
  
  #emphd {
    color: #fff;
    margin-bottom: 20px;
  }
  
  
  #empul {
    list-style-type: none;
    padding: 0;
  }
  
  .emplisting {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  li p {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  
  li p:first-child {
    font-weight: bold;
  }
  
  
  li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  
  .button-container {
    text-align: center;
  }
  
  .button-container button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 .remve_btn{
  background-color: #FF0000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
    
  }

  .remve_btn:hover {
    background: #FF0000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF0000,
                0 0 25px #FF0000,
                0 0 50px #FF0000,
                0 0 100px #FF0000;
  }
  